.rolling-percentage {
  display: flex;
  color: #fff;
  font-size: 2em;
  align-items: center;
  font-family: monospace;
}

.digit-container {
  height: 1.2em;
  width: 0.75em;
  overflow: hidden;
  margin: 0 0.05em;
  position: relative;
}

.digit-wrapper {
  display: flex;
  flex-direction: column;
  transition: transform 0.1s ease-in-out;
}

.digit {
  height: 1.2em;
  text-align: center;
}

.digit-symbol {
  color: #fff;
  padding: 0 0.05em;
}

/* Mobile potrait Start */
@media only screen and (max-width: 767px) and (orientation: portrait) {
  .rolling-percentage {
    font-size: 1.75em;
  }
}

/* Mobile Landscape Start */
@media only screen and (max-width: 1024px) and (max-height: 500px) and (orientation: landscape) {
  .rolling-percentage {
    font-size: 1.5em;
  }
}
/* Mobile Landscape End */

/* Larger Tablet Start */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .rolling-percentage {
    font-size: 2.75em;
  }
}
/* Larger Tablet End */
